<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <!--CSS연결-->
    <link href="{% static 'main/css/keus.css' %}" rel="stylesheet" type="text/css">
    <!--JS연결-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'main/js/keus.js' %}" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KEUS 회원가입</title>
</head>
<body>

    {% include 'main/header.html' %}

    <div class="body">
        <!--페이지별 내용-->
        <h2 style="text-align: center; margin-bottom:50px ;">KEUS 회원가입</h2>
        <div class="join-wrap">
           <form method="post" action="{% url 'member:join' %}" id="join-form" onsubmit="return validate();">
                {% csrf_token %}
                <div class="input-info">
                    <div class="item">
                       <ul>
                            <li>
                                <div class="item_input">
                                        <span>아이디</span>
                                        <input type="text" name="username" id="id" placeholder="4~20자리 / 영문, 숫자, 특수문자 '_'사용가능">
                                        <button type="button" id="idcheck" onclick="ID_check()">중복확인</button>
                                </div>
                            </li>
                            <li>
                                <div class="item_input">
                                    <span>비밀번호</span>
                                    <input type="password" name="password" id="pw" placeholder="8~20자리 / 영문, 숫자, 특수문자 사용">
                                </div>
                            </li>
                            <li>
                                <div class="item_input">
                                    <span>비밀번호 확인</span>
                                    <input type="password" name="PasswordOK" id="pwok"  placeholder="비밀번호 확인">
                                </div>
                            </li>
                            <li>
                                <div class="item_input">
                                    <span>이메일</span>
                                    <input type="text" name="email" id="email"  placeholder="example@keus.co.kr">
                                </div>
                            </li>
                            <li>
                                <div class="item_input">
                                    <span>연락처</span>
                                    <input type="text" name="Tell" id="phone"  placeholder="'-'제외하고 입력해주세요">
                                </div>
                            </li>
                       </ul>
                    </div>
                    <span class="terms_agree"><strong>약관</strong></span>
                    <div class="guidance">
                        <div class="agree_box">
                            <ul>
                                <li>
                                    <div class="InpBox">
                                        <span>
                                            <input type="checkbox" id="agree_all" onclick='selectAll(this)'>
                                            <label for="agree_all">
                                                <strong class="all_agree">전체 동의</strong>
                                            </label>
                                            <input type="hidden">
                                        </span>
                                    </div>
                                </li>
                            </ul>
                            <ul class="agree_article depth2">
                                <li>
                                    <div class="agree_desc">
                                        <span >
                                            <input type="checkbox" id="agree_1" name="check">
                                            <label for="agree_1">
                                                <span>개인회원 약관에 동의</span>
                                            </label>
                                        </span>
                                    </div>
                                    <a href="https://www.narastat.kr/gps/contents/guidance/agreementPopup.do"
                                    target="_blank" onclick="window.open(this.href, '_blank', 'width=730,height=820'); return false;">
                                    </a>
                                </li>
                                <li>
                                    <div class="agree_desc">
                                        <span>
                                            <input type="checkbox" id="agree_2" name="check">
                                            <label for="agree_2">
                                               <span>개인정보 수집 및 이용에 동의</span>
                                            </label>
                                        </span>
                                    </div>
                                    <a id="popupClausePrivacyPerson"
                                    href="https://www.narastat.kr/gps/contents/guidance/agreementPopup.do"
                                    target="_blank" onclick="window.open(this.href, '_blank', 'width=730,height=820'); return false;">
                                        <span class="guide_info">상세보기</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="join-box">
                    <input type="submit" id="signup-btn" value="회원가입" >
                </div>
            </form>
        </div>
    </div>

    {% include 'main/footer.html' %}

</body>

</html>