<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <!--CSS연결-->
    <link href="{% static 'main/css/keus.css' %}" rel="stylesheet" type="text/css">
    <!--JS연결-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'main/js/keus.js' %}" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KEUS 로그인</title>
</head>
<body>

    {% include 'main/header.html' %}

    <div class="body">
        <div class="head-img">
            <img src="{% static 'main/img/join.jpg' %}">
        </div>
        <!--페이지별 내용-->
        <div class="login-wrap">
            <h2 style="text-align: center;">로그인</h2>
            {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
            {% endif %}
            <form method="post" action="{% url 'member:login' %}" id="login-form" >
                {% csrf_token %}
                <span>아이디</span>
                <input type="text" name="username" placeholder="ID">
                <span>비밀번호</span>
                <input type="password" name="password" placeholder="Password">
                <input type="submit" id="login-btn" value="로그인">
            </form>
        </div>
        <div class="join-link">
            <p>
                <span>아이디나 비밀번호를 잊으셨나요?</span>
                <span><a href="{% url 'member:find' %}">아이디/비밀번호 찾기</a></span>
            </p>
            <p>
                <span>로그인 아이디가 없으신가요?</span>
                <span><a href="{% url 'member:join' %}">회원가입</a></span>
            </p>
        </div>
    </div>

    {% include 'main/footer.html' %}

</body>
</html>