/* 폰트 나눔스퀘어 */
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

html {
    font-size: 16px;
    font-family: 'NanumSquare', sans-serif;
}


a:link,
a:visited,
a:hover,
a:active {
    color: #161616;
}

.container {
    width: 100%;
    margin: 0 auto;
    height: 80px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    border-bottom: solid 1px #cecece;
}

.header img {
    width: 250px; 
    padding: 12px 0; 
    cursor: pointer;
}

.header > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    position: absolute;
    left: -2000px;
}

.header nav ul {
    display: flex;
    text-align: center;
}

.header nav ul li {
    padding: 0 35px;
    width: 120px;
    list-style: none;
}

.header nav ul li a {
    position: relative;
    display: inline-block;
    line-height: 80px; 
    font-weight: bold;
    font-size: 20px; 
    text-decoration-line: none;
}

.header nav ul li.active a,
.header nav ul li:hover a {
    color: #0056D6;
}

.header nav ul li a:after {
    opacity: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #0056D6;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
}

.header nav ul li.active a:after,
.header nav ul li:hover a:after {
    opacity: 1;
}

.header .header_box{
    float: right;
    border-bottom: 1px solid #cecece;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end
}

.header .btn_box{
    display: flex;
    margin-right: 100px;
}

.header .btn_box button{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-family: 'NanumSquare', sans-serif;
    margin: 0;
    font-size: 17px;
}



/*Body*/
.body{
    margin: 0 auto;
    height: 100%;
    width: 1200px;
    margin-top: 150px;
}

.body img{
    width: 100%;
}



/*footer*/
.footer{
    height: 200px;
    border-top: 1px solid #cecece;
}

.footer #footer_box{
    text-align: left;
    width: 1060px;
    margin: 0 auto;
    margin-top: 30px;
}

/*=============================================위에는 변경하지 말아주세요===========================================*/



/*로그인 페이지*/

.login-wrap{
    margin: 0 auto;
    width: 500px;
    height: 300px;
}

.login-wrap #login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-wrap #login-form input{
    width: 300px;
    height: 35px;
    border-radius: 6px;
    border: 1px solid #cecece;
    margin: 10px auto;
}






.login-wrap #login-btn{
    float: right;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #cecece;
    cursor: pointer;
    height: 50px;
    width: 130px;
    font-size: 20px;
}