<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <!-- CSS 연결 -->
    <link href="{% static 'main/css/keus.css' %}" rel="stylesheet" type="text/css">
    <!-- JS연결 -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>\
    <script src="{% static 'main/js/keus.js' %}" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<!-- header -->
{% include 'main/header.html' %}
<body>
    <div class="body">
        <div class="head-img">
            <img src="{% static 'main/img/intro.jpg' %}">
        </div>
        <!--페이지별 내용-->.
        <div class="sitemap">
            <a href="{% url 'main:main' %}">
                <img src="{% static 'main/img/home.png' %}">
            </a>
            > 소개 > 이용안내
        </div>
        <div class="noti">
            <h2>이용안내</h2>
            <p id="explain">사이트 이용 안내 페이지입니다. 이곳에서 사이트 이용 방법에 대한 자세한 설명을 찾아보실 수 있습니다</p>
            <ul>
                <img src="{% static 'main/img/page.png' %}">
            </ul>
        </div>
    </div>
</body>
<!-- footer -->
{% include 'main/footer.html' %}
</html>