<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <!--CSS연결-->
    <link href="{% static 'main/css/keus.css' %}" rel="stylesheet" type="text/css">
    <!--JS연결-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'main/js/keus.js' %}" defer></script>
    <script src="{% static 'board/js/board.js' %}" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KEUS 공지/문의 게시글 작성</title>
</head>

<body>

    {% include 'main/header.html' %}

    <div class="body">
        <div class="head-img">
            <img src="{% static 'main/img/noti.jpg' %}">
        </div>
        <!--페이지별 내용-->
        <section class="notice">
            <!-- 게시글 작성 -->
                <div class="noti">
                    <h2>문의</h2>
                        <p id="explain">※자료 요청이나 관리자 권한 설정등 궁금한 사항이 있으시면 언제든지 알려주시면 도움을 드리겠습니다.<br>
                        ※부적절한 게시글이나 문제가 될 수 있는 게시물은 운영 정책에 따라 삭제될 수 있음을 알려드립니다.</p>
                    <div id="board_write">
                            <div id="write_area">
                                <form method="post" action="{% url 'post_write' %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="select-box">
                                        <select name="category">
                                            <option value="">게시글 형식을 선택해 주세요.</option>
                                            {% for category in categories %}
                                                {% if request.user.is_staff or category.id != 3 %}
                                                    <option value="{{ category.id }}">{{ category.slug }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div id="in_title">
                                        <input type="text" name="title" placeholder="제목을 입력하세요.">
                                    </div>
                                    <div class="wi_line"></div>
                                    <div id="in_content">
                                        <textarea id="ucontent" name="contents" placeholder="내용" required></textarea>
                                    </div>
                                    <div class="write">
                                        <button type="submit">글 작성</button>
                                        <button><a href="{% url 'board_list' %}">취소</a></button>
                                    </div>
                                </form>
                            </div>
                    </div>
                </div>
        </section>
    </div>

    {% include 'main/footer.html' %}

</body>
</html>