<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <!-- CSS 연결 -->
    <link href="{% static 'main/css/keus.css' %}" rel="stylesheet" type="text/css">
    <!-- JS 연결 -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'main/js/keus.js' %}" defer></script>
    <script src="{% static 'board/js/board.js' %}" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KEUS 공지/문의 게시판</title>
</head>
<body>
    {% include 'main/header.html' %}
    <div class="back-img"></div>
    <div class="body">
        <div class="head-img">
            <img src="{% static 'main/img/noti.jpg' %}">
        </div>
        <!-- 페이지별 내용 -->
        <section class="notice">
            <div class="sitemap">
                <a href="{% url 'main:main' %}">
                    <img src="{% static 'main/img/home.png' %}">
                </a>
                > 알림마당 > 공지/문의
            </div>
            <!-- 게시판 리스트 -->
            <div class="noti">
                <h2>공지/문의</h2>
                <div>
                        {% if user.is_authenticated %}
                            <button class="write-btn"><a href="{% url 'post_write' %}">글쓰기</a></button>
                            <p>환영합니다! 여기서 자료 요청, 관리자 권한 신청 등을 할 수 있습니다.</p>
                        {% else %}
                            <button class="write-btn"><a href="{% url 'member:login' %}">글쓰기</a></button>
                        {% endif %}
                </div>
                <div class="board-list">
                    <ul class="subject">
                        <li id="bnum">번호</li>
                        <li id="btitle" style="text-align: center;">제목</li>
                        <li id="bid">작성자</li>
                        <li id="bdate">작성일</li>
                    </ul>
                    {% for board in boards %}
                        <ul onclick="toggleContent(this)">
                            <li id="bnum">{{ forloop.counter }}</li>
                            <li id="btitle">{{ board.title }}</li>
                            <li id="bid">{{  board.member__username|default:"작성자 없음" }}</li>
                            <li id="bdate">{{ board.created_at }}</li>
                        </ul>
                        <div class="content">
                            <p>
                                {{ board.contents }}
                            </p>
                            <p>
                                현재 사용자의 ID: {{ user.id }}<br>
                                게시물 작성자의 ID: {{ board.member }}<br>
                            </p>
                            <!-- CSRF 토큰 추가 -->
                                {% if user.id == board.member or user.is_staff %}
                                <form id="deleteForm" method="POST" action="{% url 'delete_post' pk=board.id %}">
                                    {% csrf_token %}
                                    <button type="submit" onclick="return confirmDelete('{{ board.id }}')">삭제</button>
                                </form>
                            {% endif %}
                            {% if user.is_staff %}
                                <form method="post" action="{% url 'new_comment' pk=board.id %}" class="comment">
                                    {% csrf_token %}
                                    <hr>
                                    <span>┗</span>
                                    <input type="text" name="content" placeholder="댓글내용">
                                    <button type="submit" onclick="confirmComment('{{ board.id }}')"><a>작성 완료</a></button>
                                </form>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
    {% include 'main/footer.html' %}
</body>
</html>